In [1]:
# Huggingface Tokenizer - BertWordPieceTokenizer

In [4]:
import pandas as pd
import urllib.request
from tokenizers import BertWordPieceTokenizer

In [6]:
naverdf = pd.read_table('ratings.txt')
naverdf = naverdf.dropna(how='any')
with open('naverreview.txt', 'w', encoding='utf8') as f:
    f.write('\n'.join(naverdf['document']))

In [10]:
tokenizer = BertWordPieceTokenizer(lowercase=False, strip_accents=False)

In [14]:
datafile = 'naverreview.txt'
vocabsize = 30000
limitalphabet = 6000
minfrequency = 5

tokenizer.train(files=datafile,
                vocab_size=vocabsize,
                limit_alphabet=limitalphabet,
                min_frequency=minfrequency)

In [16]:
tokenizer.save_model('./')

['./vocab.txt']

In [18]:
df = pd.read_fwf('vocab.txt', header=None)
df

            0
0       [PAD]
1       [UNK]
2       [CLS]
3       [SEP]
4      [MASK]
...       ...
29995      맘을
29996      맛도
29997     망하지
29998     망한다
29999     망가지

[30000 rows x 1 columns]

In [19]:
encoded = tokenizer.encode('아 배고픈데 짜장면먹고싶다')
print('토큰화 결과 :',encoded.tokens)
print('정수 인코딩 :',encoded.ids)
print('디코딩 :',tokenizer.decode(encoded.ids))

토큰화 결과 : ['아', '배고', '##픈', '##데', '짜장면', '##먹고', '##싶다']
정수 인코딩 : [2111, 20631, 3542, 3282, 24681, 7873, 7378]
디코딩 : 아 배고픈데 짜장면먹고싶다

In [20]:
encoded = tokenizer.encode('커피 한잔의 여유를 즐기다')
print('토큰화 결과 :',encoded.tokens)
print('정수 인코딩 :',encoded.ids)
print('디코딩 :',tokenizer.decode(encoded.ids))

토큰화 결과 : ['커피', '한잔', '##의', '여유', '##를', '즐기', '##다']
정수 인코딩 : [12825, 25646, 3239, 12696, 3290, 10784, 3250]
디코딩 : 커피 한잔의 여유를 즐기다

In [22]:
from tokenizers import ByteLevelBPETokenizer, CharBPETokenizer, SentencePieceBPETokenizer

tokenizer = SentencePieceBPETokenizer()
tokenizer.train('naverreview.txt', vocab_size=10000, min_frequency=5)

encoded = tokenizer.encode("이 영화는 정말 재미있습니다.")
print(encoded.tokens)

['▁이', '▁영화는', '▁정말', '▁재미있', '습니다.']